* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

h1 {
    font-size: 60px;
    margin: 5vh 0 0;
}
button {
    border: none;
    border-radius: 8px;
    padding: 1vh 1.5vw;
    background-color:salmon;
    font-size: 24px;
    font-weight: bold;
    margin: 3vh 1vw;
}
.selected {
    background-color: darkseagreen;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    --number-of-items: 16;
    border: 4px solid black;
}

.container div {
    --sketch-color: black;
    --shade: 1;
    background-color: white;
    border: 1px dotted rgba(228, 228, 228, 0.446);
    width: calc(100% / var(--number-of-items));
    height: calc(100% / var(--number-of-items));
}

.etch {
    background-color: var(--sketch-color) !important;
    opacity: var(--shade);
}

.shade-10 {
    opacity: .1;
}
.shade-20 {
    opacity: .2;
}
.shade-30 {
    opacity: .3;
}
.shade-40 {
    opacity: .4;
}
.shade-50 {
    opacity: .5;
}
.shade-60 {
    opacity: .6;
}
.shade-70 {
    opacity: .7;
}
.shade-80 {
    opacity: .8;
}
.shade-90 {
    opacity: .9;
}
.shade-100 {
    opacity: 1;
}
